# Pliki Qt Creator
*.autosave
*.pro.user*
*.creator*
*.user

# Build
build*/
Build*/
build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

# Pliki binarne
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.exe

# Inne pliki tymczasowe
*.log
*.tmp
*.bak
*.swp
*.swo
*~
